@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background: #2C2D32;
  /*font: normal 13px 'Roboto', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.7px;
  line-height: 1.3em;
  color: #777777;
  padding: 5px;
}

h1 {
  color:#94c02f;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  background: #1B1C20;
  color: #EDEDED;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border-radius: 3px;
}

a {
  color: #EDEDED;
  text-decoration: none;
}

a:hover {
  color: #EDEDED;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

.paragraph {

}

.word {
  color: #EDEDED;
}

.btn {
  padding: 10px;
  border: solid;
  border-color: #EDEDED;
  border-radius: 5px;
}


