@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #2C2D32;
  color: #94c02f;
}